@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
.root{
    --body-font__1: 'Karla', serif;
}
*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    background-color:hsl(204, 43%, 93%);
    justify-content: center;
}
article{
  display: grid;
    justify-content: center;
    width: 40%;
    height: 400px;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 10%;
   grid-template-columns:1fr;
   grid-template-rows: 1fr 1fr;
   border-radius: 5px;
}
.community{
background-color: hsl(200, 13%, 95%);
padding: 20px;
border-radius: 5px;

}
.join{
    font-family: var(--body-font__1);
    color:hsl(179, 58%, 50%); 
    font-size: large;
}
.day{
    font-family: var(--body-font__1);
    color:hsl(71, 73%, 54%);
    font-weight: 500;
}
.gain{
    font-family: var(--body-font__1);
    color:hsl(198, 5%, 59%);
    font-weight: 300;
}
.twoitem{
    display: flex;
}
.price{
    background-color: hsl(179, 62%, 43%);
    width: 50%;
    padding: 20px;
    color: white;
    font-family: var(--body-font__1);
    border-bottom-left-radius: 5px;
}
.pricespan{
    font-size: 20px;
    font-family: var(--body-font__1);

}
.pricespan, .per-month {
    display: inline-block;
    margin-right: 5px; /* مسافة بين النصوص */
}
.per-month{
    font-weight: lighter;
    opacity: 0.7;
}
.fullacces{
    font-weight: lighter;
}
.info{
    background-color:hsl(179, 58%, 50%);
    width: 50%;
    padding: 20px;
    color: white;
    border-bottom-right-radius: 5px;

}
.tutorials{
    font-weight: 200;
    opacity: 0.9;
}
button{
    width: 100%;
    height: 40px;
    background-color:hsl(71, 73%, 54%) ;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 40px;
    transition:background 0.3s;

}
button:hover{
    background-color:hsl(71, 83%, 67%) ;
}